

#main{
    background:rgb(240, 240, 240);
    margin-top:30px;
    margin:10px;
   
}


#title{
    text-align:center;
    padding-top:30px;
}

#img-div{
    width:92%;
    height:100%;
    padding:2%;
    margin:2%;
    background:white;
    text-align:center;
}

#img-div #image{
    width:100%;
    max-width:1200px;
    display:block;
    margin:0 auto;
    
}