

#main{
    background:rgb(240, 240, 240);
    margin-top:30px;
    margin:10px;
   
}


#title{
    text-align:center;
    padding-top:30px;
}

#img-div{
    width:92%;
    height:100%;
    padding:2%;
    margin:2%;
    background:white;
    text-align:center;
}

#img-div #image{
    width:100%;
    max-width:1200px;
    display:block;
    margin:0 auto;
    
}

#info-title{
    text-align: center;
    margin:50px;
}

#tribute-info ul li{
   margin-top:20px;
    font-size:15px;
  
}

#tribute-info {
    display:block;
    margin-left:10%;
    margin-right:10%;
  
}


.year{
    font-size: large;
    font-weight: 600;
}

.link-pragraph{
    text-align:center;
    font-weight: bolder;
    margin-top:50px;
}


@media only screen and (min-width:300px) and (max-width:600px){
    #tribute-info{
        margin-left:10%;
        margin-right:10%;
    }
}